<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blanklayout.html(title=#{inventory.addDrink.title})}">
<head>
</head>
<body>
<section layout:fragment="content">
    <div class="blurPadding">
    <form method="post" role="form" class="ui form" id="form" th:action="@{/addDrink}" th:object="${form}">

        <h3 class="ui dividing header" th:text="#{inventory.addDrink.title}">new Pizza Preset</h3>

        <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
            <p th:text="#{inventory.addDrink.formErr}">inputerror!</p>
        </div>

        <div class="field">
            <label for="name" th:text="#{inventory.table.productname}"> name</label>
            <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text"
                   th:placeholder="#{inventory.table.productname}" placeholder="name" required="required" /><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                <p>your product must contain a name</p>
            </div>
        </div>

        <div class="field">
            <label for="price" th:text="#{inventory.table.productprice}">price</label>
            <input id="price" name="price" th:field="*{price}" th:errorclass="fieldError" type="number" step="0.01"
                   th:placeholder="#{inventory.table.productprice}" placeholder="price" required="required" /><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                <p>your product must contain a price</p>
            </div>
        </div>

        <div class="field">
            <label for="ingredients" th:text="#{inventory.table.productingredients}">Ingredients</label>
            <input id="ingredients" name="ingredients" th:field="*{ingredients}" th:errorclass="fieldError" type="text"
                   th:placeholder="#{inventory.table.productingredients}" placeholder="ingredients" required="required" /><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">
                <p>your product must contain ingredients</p> <!-- maybe this should be optional idk -->
            </div>
        </div>


        <button type="submit" class="ui button" th:text="#{inventory.addProduct.submit}">Create</button>
    </form>
    </div>
</section>
</body>
</html>